<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{citely.title}">Citely</title>

    <link th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{citely.references.overview}">References are fantastic.</h2>
</div>

<script th:src="@{/webjars/jquery/2.1.3/jquery.js}"
        src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.js"></script>
<script th:src="@{/webjars/bootstrap/3.3.2/js/bootstrap.js}"
        src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
</body>
</html>