<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sourceforge.citely.CitelyDesktop.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.citely.CitelyDesktop.Perspective"
            fixed="true"
            id="CitelyDesktop.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sourceforge.citely.CitelyDesktop.ControlView"
            id="CitelyDesktop.ControlView"
            name="CitelyControl">
      </view>
      <view
            allowMultiple="false"
            class="net.sourceforge.citely.CitelyDesktop.QueryView"
            id="CitelyDesktop.QueryView"
            name="Query">
      </view>
      <view
            allowMultiple="false"
            name="QueryTrack"
            class="net.sourceforge.citely.CitelyDesktop.TrackView"
            id="CitelyDesktop.TrackView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            sibling_order="&lt;view&#x0A;               id=&quot;CitelyDesktop.QueryView&quot;&#x0A;               minimized=&quot;false&quot;&#x0A;               ratio=&quot;0.8f&quot;&#x0A;               relationship=&quot;top&quot;&#x0A;               relative=&quot;org.eclipse.ui.editorss&quot;&#x0A;               showTitle=&quot;false&quot;&#x0A;               standalone=&quot;true&quot;&gt;&#x0A;         &lt;/view&gt;"
            targetID="*">
         <view
               id="CitelyDesktop.QueryView"
               minimized="false"
               ratio="1.0f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
         <view
               id="CitelyDesktop.ControlView"
               minimized="false"
               ratio="0.15f"
               relationship="left"
               relative="CitelyDesktop.QueryView"
               showTitle="false"
               standalone="true">
         </view>
         <view
               id="CitelyDesktop.TrackView"
               minimized="false"
               ratio="0.85f"
               relationship="right"
               relative="CitelyDesktop.QueryView"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CitelyDesktop.application"
            name="Citely Desktop">
         <property
               name="windowImages"
               value="resources/icons/C.png">
         </property>
         <property
               name="appName"
               value="Citely Desktop">
         </property>
      </product>
   </extension>

</plugin>
