<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <meta charset="UTF-8" th:remove="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all">
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" media="screen"  th:remove="all"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="headerNav" id="headerNav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
         <a class="navbar-brand" href="#" th:href="@{/}">Citely</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navLinks">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/projects}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/tags}">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/references}">References</a>
                </li>
            </ul>

            <form class="d-flex me-4  mb-2 mb-lg-0" role="search">
                <input class="form-control me-2" id="searchBox" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="mb-2 mb-lg-0 py-2" th:if="${#authorization.expression('isAuthenticated()')}" >
                <span class="navbar-text" th:text="${#authentication.principal.fullName}">Bob</span>
            </div>
            <button id="logoutBtn" class="btn btn-outline-secondary mx-0 mx-lg-3"
                    th:if="${#authorization.expression('isAuthenticated()')}">Logout</button>

            <div class="py-2" th:unless="${#authorization.expression('isAuthenticated()')}" >
                <a class="nav-link" href="#" th:href="@{/login}">Login</a>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"
        src="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script th:src="@{/js/header.js}"
        src="../static/js/header.js"></script>
</body>
</html>