<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{citely.home.title}">Home</title>
    <meta charset="UTF-8" th:remove="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all">
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" media="screen"  th:remove="all"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{citely.home.overview}">This is Citely's home page.</h2>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"
        src="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>