<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{citely.title}">Citely</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:replace="~{header :: headerNav}">
</div>

<div class="container">
    <th:block layout:fragment="content" th:remove="tag">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </th:block>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"
        src="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script th:src="@{/js/header.js}"
        src="../static/js/header.js"></script>
<th:block layout:fragment="scripts" th:remove="tag"></th:block>
</body>
</html>