<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{citely.logout.title}">Logout</title>
    <meta charset="UTF-8" th:remove="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all">
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" media="screen"  th:remove="all"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{citely.logout.prompt}">Do you really want to logout?</h2>

    <form id="logoutForm" method="POST">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <input name="logoutOkBtn" class="btn btn-primary" type="submit"
               th:value="#{citely.logout.ok}" value="OK">
        <input name="logoutCancelBtn" class="btn btn-secondary" type="button"
               th:value="#{citely.logout.cancel}" value="Cancel">
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"
        src="http://cdn.jsdelivr.net/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<div layout:fragment="scripts">
    <script th:src="@{/js/logout.js}"
            src="../static/js/logout.js"></script>
</div>
</body>
</html>